@media only screen and (max-width: 992px) {
    .mainNav {
    flex-direction: column;
    position: absolute;
    top: 6.3rem;
    right: 0;
    width: 50%;
    height: 96vh;
    background: rgb(51, 79, 90);
    overflow: hidden;
    padding: 20% 0;
    justify-content: space-around;
    transform: translateX(100%);
    transition: .3s linear;
    }
    .mainNav li {
        opacity: 0;
        transform: translateX(100%);
        transition: linear .5s;
    }
    .mainNav li a:link, .mainNav li a:visited {
        font-size: 1.7rem;
    }
    .hamBurger {
        display: block;
        cursor: pointer;
    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .mobileNav-active {
        transform: translateX(0);
    }
    .mobileNav-active li {
        opacity: 1;
        transform: translateX(0);
    }
    h1 {
        font-size: 4.2rem;
    }

    .team .span_1_of_4 {
        width: 49.2%;
    }

    .clientPhoto {
        width: 100%;
        padding: 2rem;
    }
    .clientReview {
        text-align: center;
    }

    .connect form {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 880px) {
    .mainNav {
        width: 60%;
    }
    h1 {
        font-size: 4rem;
    }
    .services h3 {
        font-size: 2.15rem;
    }
}

@media only screen and (max-width: 880px) and (orientation: landscape) {
    html {
        font-size: 50%;
    }
    .btnHeading:link, .btnHeading:visited {
        margin-top: 0;
    }
    .mainNav {
        padding: 0;
        padding-bottom: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .span_1_of_4 {
        width: 49.2%;
    }
    .services h3 {
        font-size: 2.4rem;
    }
    .footerRow {
        flex-direction: column;
    }
    footer .logo {
        margin-top: 5rem;
    }
    footer ul {
        width: 100%;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 56%;
    }
    .mainNav {
        width: 100%;
        padding: 30%;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
        font-size: 2rem;
    }
    .sectionDesc {
        width: 80%;
    }
    .connect form {
        width: 98%;
        margin-left: 1%;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .sectionDesc {
        width: 90%;
        font-size: 1.5rem;
    }
    .span_1_of_4 {
        width: 100%!important;
    }
    .memberInfo {
        height: auto;
    }
    .socialLink {
        margin: 3rem 0 5rem;
    }
    footer ul {
        flex-direction: column;
        height: 15rem;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.1rem
    }
    .sectionDesc {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    .socialIcon:hover {
        width: 12rem;
    }
}